:root {
    --landing-primary-color: rgba(8, 76, 97, 0.75);
    --overlay-color: rgba(20, 27, 32, 0.85);
    --menu-speed: 0.5s;
}
 
 
 /* Base styles that apply to all menus */
 header.menu-header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.7);
    font-size: 0.8rem;
    display: flex;
    height: 8vh;
    background: blanchedalmond;
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav.nav-menu ul {    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .nav-menu li {
      margin: 0 2vw;
  }

  .nav-menu ul li a {
    display: block;
    text-decoration: none;
    margin: 1.5vh auto;
  }
  .home-link ul li a {
    text-align: center;
    
  }
  .home-link ul li a h1 {
    text-decoration: none;
    margin: -2vh 2vw;
    line-height: -2;
    color: #333;
  }

  .nav-menu li a:hover {
    background: hsl(0, 0%, 25%);
  }
  .burger-menu-wrap {
    display: none;
}
  
  @media only screen and (min-width: 360px) {

    .nav-menu {
        display: none;
    }
    .burger-menu-wrap {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .burger-menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 60px;
        height: 8vh;
        padding: 0.7rem;
        background-color: var(--landing-primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger-menu-wrap .hamburger .mid-line {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
    }
    .burger-menu-wrap .hamburger .mid-line:before,
   .burger-menu-wrap .hamburger .mid-line:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
   }
   .burger-menu-wrap .hamburger .mid-line:after {
    top: 10px;
   }
   .toggler {
       position: absolute;
       top: 0;
       right: 0;
       z-index: 2;
       width: 50px;
       height: 50px;
       opacity: 0;
    }

    .burger-menu-wrap .toggler:checked + .hamburger .mid-line {
    transform: rotate(135deg);
    }

   .burger-menu-wrap .toggler:checked + .hamburger .mid-line::before,
   .burger-menu-wrap .toggler:checked + .hamburger .mid-line::after {
    top: 0;
    transform: rotate(90deg);
   }
   /* SHOW MENU */
   .burger-menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .burger-menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .burger-menu-wrap .toggler:checked ~ .menu > div > nav {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }

  .burger-menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger-menu-wrap .menu ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .burger-menu-wrap .menu ul > li a {
    color: #fff;
    font-size: 12vw;
    font-weight: 100;
    text-decoration: none;
    transition: color 0.4s ease;
  }

.burger-menu-wrap .menu .menu-wrapper {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 250vw;
    height: 250vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.3s ease;
   }
   .burger-menu-wrap .menu nav {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
   }
   
}


@media only screen and (min-width: 610px) {
    /* header {
        border: 2px dashed green;
    } */
    .burger-menu-wrap {
        display: none;
    }
    .nav-menu {
        display: block;
    }
}



   /* queries for iPhone 6/7/8 */
   /* @media only screen 
   and (min-device-width: 375px) 
   and (max-device-width: 667px) 
   and (-webkit-min-device-pixel-ratio: 2) { 
    .cell {
        width: 300px;
        height: 250px;
        flex-grow: 1;
       }
       section.landing-content-container {
            position: absolute;
            top: 0;
            left: 25vw;
            margin-right: -50vw;
            width: 100vw;
      }
          & h2 {
            text-align: center;
            font-size: 1.2rem;
        }
        & h3 {
            text-align: left;
            line-height: 2;
            font-size: 1rem;

        }
     
 } */